<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wendy.quesorbeto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Articulos" />
        <activity android:name=".Clientes" />
        <activity android:name=".Consulta_C" />
        <activity android:name=".Consulta_P" />
        <activity android:name=".Facturacion" />
        <activity android:name=".Menu_Cliente" />
        <activity android:name=".Registro_C" />
        <activity android:name=".Registro_P" />
        <activity android:name=".Actualizacion_C" />
        <activity android:name=".Actualizacion_P" />
        <activity android:name=".Menu_Admin" />
        <activity
            android:name=".Quesos"
            android:label="@string/title_activity_quesos" />
        <activity
            android:name=".ListaActualizar_C"
            android:label="@string/title_activity_lista_actualizar__c" />
    </application>

</manifest>